@model Product

<h2>Detalji proizvoda</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Naziv</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Cijena</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Kategorija</dt>
        <dd class="col-sm-10">@Model.Category?.Name</dd>

        <dt class="col-sm-2">Popust</dt>
        <dd class="col-sm-10">@Model.Discount?.Percentage%</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Uredi</a> |
    <a asp-action="Index">Natrag na popis</a>
</div>